@{
    ViewBag.Title = "About - TFC.tv";
    Layout = "~/Views/Shared/_TFCTVBlue.cshtml";
}
<div id="mainBody">
    <br />
    <div id="main_container">
        <div id="aboutUsContainer">
            <!-- ============================ -->
            <div id="aboutUsHeaderContainer">
                <div id="aboutUsHeaderContent">
                    <div id="headerBox" class="right">
                        <div id="aboutUsTitle">
                            TFC.tv is the digital tambayan of the global Pinoy!
                        </div>
                        <div id="aboutUsContent">
                            We bring together on one digital platform the social interaction of Filipinos worldwide
                            and the advanced viewing experience of homegrown content. As the official platform
                            of The Filipino Channel (TFC), we are the largest, most complete and up-to-date
                            source on the web for free and premium videos from ABS-CBN Global. With added social
                            and interactive features, we serve to bridge and nurture the relationships of Filipinos
                            all around the world.
                            <br />
                            <br />
                            Join our tambayan and register <a href="/User/Register/"><span class="link">here</span></a>.
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================ -->
            <!-- ============================ -->
            <div id="goDigitalContainer">
                <div id="goDigitalContentContainer">
                    <div id="goDigitalTitle">
                        <span class="title">GO DIGITAL</span> with your TFC experience
                    </div>
                    <div class="contentWrap">
                        <div id="goDigitalLeftInfoContainer" class="left">
                            <div class="contentContainer">
                                <div class="goDigitalLeftPane left">
                                    <div class="contentTitle">
                                        Enjoy compatibility with different digital devices</div>
                                    <div class="contentLeft">
                                        Access your TFC content through the online gadget of your choice with TFC.tv’s compatibility
                                        with Windows, Apple and Linux operating systems.</div>
                                </div>
                                <div class="goDigitalRightPane">
                                    <!-- <div class="contentRight">
                                        Learn more about device compatibility</div>
                                    <div class="contentRight">
                                        See complete system requirements</div>
                                    <div class="contentRight">
                                        Is your mobile device compatible?</div> -->
                                </div>
                            </div>
                            <div class="contentContainer">
                                <div class="goDigitalLeftPane left">
                                    <div class="contentTitle">
                                        View localized currency & pricing</div>
                                    <div class="contentLeft">
                                        Do less computation when purchasing products on TFC.tv, where you can have the convenience
                                        of finding the set prices already in your local currencies.</div>
                                </div>
                                <div class="goDigitalRightPane">
                                    <div class="contentRight">
                                        <a href="/Subscription/"><span class="link">See all Subscription products</span></a></div>
                                    <div class="contentRight">
                                        <a href="/Alacarte/"><span class="link">See all Ala Carte products</span></a></div>
                                    <!-- <div class="contentRight">
                                       Learn more about modes of payment</div>
                                    <div class="contentRight">
                                      Learn more about TFC.tv E-Wallet</div> -->
                                </div>
                            </div>
                            <div class="contentContainer">
                                <div class="goDigitalLeftPane left">
                                    <div class="contentTitle">
                                        Get rewarded for regular activity and purchase</div>
                                    <div class="contentLeft">
                                        See the difference of using the official platform of TFC with TFC.tv’s Badging feature,
                                        which automatically entitles you to our system of free credits, content and other
                                        exclusive treats.</div>
                                </div>
                                <div class="goDigitalRightPane">
                                    <!-- <div class="contentRight">
                                       Learn more about TFC.tv Badges</div> -->
                                </div>
                            </div>
                            <div class="contentContainer">
                                <div class="goDigitalLeftPane left">
                                    <div class="contentTitle">
                                        Learn more from an extensive product knowledgebase</div>
                                    <div class="contentLeft">
                                        Find the find information you need about TFC.tv in our Help Center, where you can
                                        browse through topics and questions, and even add your own tip for other users.</div>
                                </div>
                                <div class="goDigitalRightPane">
                                    <!-- <div class="contentRight">
                                        Go to TFC.tv Help Center</div> -->
                                </div>
                            </div>
                        </div>
                        <div id="goDigitalPic" class="right">
                            <img src="/Content/images/transBg.png" border="0" height="432" width="329" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================ -->
            <!-- ============================ -->
            <div id="goWatchContainer">
                <div id="goWatchContentContainer">
                    <div id="goWatchTitle">
                        <span class="title">GO WATCH</span> high quality TFC videos
                    </div>
                    <div class="contentWrap">
                        <div id="goWatchPic" class="left">
                            <img src="/Content/images/about/angel.jpg" border="0" height="432" width="329" />
                        </div>
                        <div id="goWatchLeftInfoContainer" class="right">
                            <div class="contentContainer">
                                <div class="goWatchLeftPane left">
                                    <div class="contentTitle">
                                        Play high quality videos</div>
                                    <div class="contentLeft">
                                        Watch your favorite TFC video content without interruptions with TFC.tv’s adaptive
                                        streaming, which selects the best video quality to suit your internet connection
                                        speed.</div>
                                </div>
                                <div class="goWatchRightPane">
                                    <!--  <div class="contentRight">
                                        Learn more about adaptive streaming</div> -->
                                </div>
                            </div>
                            <div class="contentContainer">
                                <div class="goWatchLeftPane left">
                                    <div class="contentTitle">
                                        Choose from an extensive content catalogue</div>
                                    <div class="contentLeft">
                                        Enjoy the breadth of TFC content right at your fingertips with TFC.tv’s largest,
                                        most up-to-date and official source of TV shows and Pinoy films from ABS-CBN Global.</div>
                                </div>
                                <div class="goWatchRightPane">
                                    <div class="contentRight">
                                        <a href="/"><span class="link">See all Entertainment shows</span></a></div>
                                    <div class="contentRight">
                                        <a href="/News/"><span class="link">See all News shows</span></a></div>
                                    <div class="contentRight">
                                        <a href="/Movies/"><span class="link">See all Movie titles</span></a></div>
                                    <div class="contentRight">
                                        <a href="/Live/"><span class="link">See all Live TV</span></a></div>
                                    <div class="contentRight">
                                        <a href="/FreeTV/"><span class="link">See all Free TV</span></a></div>
                                </div>
                            </div>
                            <div class="contentContainer">
                                <div class="goWatchLeftPane left">
                                    <div class="contentTitle">
                                        Create your own content Playlist</div>
                                    <div class="contentLeft">
                                        Organize your videos the way you want with TFC.tv’s content Playlist, which lets
                                        you select and bundle your videos together for easy access and continuous viewing.
                                    </div>
                                </div>
                                <div class="goWatchRightPane">
                                    <!-- <div class="contentRight">
                                        How to add videos to your playlist</div> -->
                                </div>
                            </div>
                            <div class="contentContainer">
                                <div class="goWatchLeftPane left">
                                    <div class="contentTitle">
                                        Receive content recommendations automatically</div>
                                    <div class="contentLeft">
                                        Keep discovering TFC content you love hassle-free with TFC.tv’s auto-recommendation
                                        engine that understands your viewing needs and offers regular suggestions.</div>
                                </div>
                                <div class="goWatchRightPane">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================ -->
            <!-- ============================ -->
            <div id="goSocializeContainer">
                <div id="goSocializeContentContainer">
                    <div id="goSocializeTitle">
                        <span class="title">GO SOCIALIZE</span> with TFC users worldwide
                    </div>
                    <div class="contentWrap">
                        <div id="goSocializeLeftInfoContainer" class="left">
                            <div class="contentContainer">
                                <div class="goSocializeLeftPane left">
                                    <div class="contentTitle">
                                        Have your own personal profile accounts</div>
                                    <div class="contentLeft">
                                        Personalize your online TFC experience with your very own profile page on TFC.tv,
                                        which you can edit with your own photos, shout-outs, videos and much more.</div>
                                </div>
                                <div class="goSocializeRightPane">
                                    <!-- <div class="contentRight">
                                       How to create your own TFC.tv profile page</div> -->
                                </div>
                            </div>
                            <div class="contentContainer">
                                <div class="goSocializeLeftPane left">
                                    <div class="contentTitle">
                                        Integrate your accounts from other social networking sites</div>
                                    <div class="contentLeft">
                                        Makes sure your friends on Facebook and Twitter are updated on your activities on
                                        TFC.tv, where you can automatically link your account to other social networking
                                        sites.</div>
                                </div>
                                <div class="goSocializeRightPane">
                                    <!--  <div class="contentRight">
                                        How to link social networking accounts</div> -->
                                </div>
                            </div>
                            <div class="contentContainer">
                                <div class="goSocializeLeftPane left">
                                    <div class="contentTitle">
                                        Share content through your other social networking accounts</div>
                                    <div class="contentLeft">
                                        Share your favorite TFC.tv videos to your friends on Facebook or other social networking
                                        sites, where they can watch snippets of the video for free.</div>
                                </div>
                                <div class="goSocializeRightPane">
                                    <!--                                   <div class="contentRight">
                                        How to Share Videos on social networking sites</div> -->
                                </div>
                            </div>
                            <div class="contentContainer">
                                <div class="goSocializeLeftPane left">
                                    <div class="contentTitle">
                                        Build your online network of TFC users</div>
                                    <div class="contentLeft">
                                        Join the official TFC community online on TFC.tv, where you can discover and meet
                                        other users from the Philippines, your region and the rest of the world.</div>
                                </div>
                                <div class="goSocializeRightPane">
                                </div>
                            </div>
                        </div>
                        <div id="goSocializePic" class="right">
                            <img src="/Content/images/about/johnlloyd.jpg" border="0" height="432" width="329" />
                        </div>
                    </div>
                    <div class="contentWrap">
                        <div id="goSocializePic" class="left">
                            <img src="/Content/images/about/sam.jpg" border="0" height="432" width="329" />
                        </div>
                        <div id="goSocializeLeftInfoContainer" class="right">
                            <div class="contentContainer">
                                <div class="goSocializeLeftPane left">
                                    <div class="contentTitle">
                                        Send messages to other users</div>
                                    <div class="contentLeft">
                                        Say hello and get to know the rest of the online community on TFC.tv, where you
                                        can send and receive messages directly to and from other users.</div>
                                </div>
                                <div class="goSocializeRightPane">
                                    <!-- <div class="contentRight">
                                        How to send messages</div> -->
                                </div>
                            </div>
                            <div class="contentContainer">
                                <div class="goSocializeLeftPane left">
                                    <div class="contentTitle">
                                        Chat with other users</div>
                                    <div class="contentLeft">
                                        Always feel close to home and with other global Pinoys through TFC.tv's chat service,
                                        which lets you Interact and talk in real-time with the rest of the TFC community
                                        online.</div>
                                </div>
                                <div class="goSocializeRightPane">
                                    <!--   <div class="contentRight">
                                        How to chat with other users</div> -->
                                </div>
                            </div>
                            <div class="contentContainer">
                                <div class="goSocializeLeftPane left">
                                    <div class="contentTitle">
                                        Purchase content for other users</div>
                                    <div class="contentLeft">
                                        Show and feel the love with other global Pinoys through TFC.tv’s Gifting feature,
                                        which lets you give and receive purchased video content to and from other users.</div>
                                </div>
                                <div class="goSocializeRightPane">
                                    <!--  <div class="contentRight">
                                        Learn more about Gifting</div> -->
                                </div>
                            </div>
                            <div class="contentContainer">
                                <div class="goSocializeLeftPane left">
                                    <div class="contentTitle">
                                        Create your own content Wishlist</div>
                                    <div class="contentLeft">
                                        Let your family and friends know the videos you want with TFC.tv’s content Wishlist,
                                        which lets you select and display the videos other users can purchase for you.</div>
                                </div>
                                <div class="goSocializeRightPane">
                                    <!--  <div class="contentRight">
                                        How to add to your wishlist</div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================ -->
        </div>
    </div>
</div>
@section Stylesheet {
    @Html.CssBuilder(Url, "about.css")
    @Html.CssBuilder(Url, "homepage.css")
    @Html.CssBuilder(Url, "movies.css")
}