@{
    ViewBag.Title = "Terms on Modification of TFC Now and Transition to TFC.tv - TFC.tv";
    Layout = "~/Views/Shared/_TFCTVBlue.cshtml";
}
<div id="mainBody">
    <br />
    <br />
    <div class="transparentBg floatLeft">
        <div class="genericHeader">
            <div id="genericHeader_header">
                <div id="headerTitle" class="sectionHeaderTitle">
                    @ViewBag.Title</div>
                <div id="headerCategoryName" class="sectionHeader">
                </div>
            </div>
        </div>
        <div id="terms_bodyContainer">
            <div class="whitetext">
                <p>
                    On July 15, 2012, TFC.tv will be launched as the new online content distribution
                    service of ABS-CBN. As the next phase to TFC Now’s evolution, TFC.tv provides enhanced
                    video viewing experience to its subscribers and allows its subscribers to comment,
                    rate, chat and use other interactivity tools. On TFC.tv, subscribers can:
                </p>
                <p>
                    <ul style="line-height: 25px;">
                        <li>a. Watch video with adaptive streaming which selects the best video quality to suit
                            subscriber’s internet connection speed; </li>
                        <li>b. Enjoy a collection of old and new content, rate and post their comments on the
                            content;</li>
                        <li>c. Access TFC.tv through devices with the following operating systems:
                            <ol style="line-height: 20px;">
                                <li>Windows 7/vista/XP</li>
                                <li>Mac OS X 10.6/10.5/10.4 (Intel)</li>
                                <li>Red Hat Enterprise Linux (RHEL) 5 or older</li>
                                <li>Open SUSE II or older</li>
                                <li>Ubuntu 9.10 or older</li>
                            </ol>
                        </li>
                        <li>d. Personalize their TFC.tv profile page by uploading photos and shout-outs;</li>
                        <li>e. Announce to friends the ABS-CBN content they want to receive, purchase and send
                            to friends their preferred ABS-CBN content;</li>
                        <li>f. Link their TFC.tv account with their social network account ( Facebook, Twitter,
                            Four Square, Linked In); and </li>
                        <li>g. Become part of TFC.tv’s online community where they can chat with other TFC.tv
                            subscribers.</li>
                    </ul>
                </p>
                <p>
                    In view of the evolution and enhancement of TFC Now into TFC.tv, we would like to
                    invite current TFC Now Users to experience TFC.tv and enable a transition of their
                    online TFC experience. Please find below the terms and conditions that will govern
                    the modification of the TFC Now service and its transition to TFC.tv (“Terms”).</p>
                <h3>
                    Section 1. TFC Now
                </h3>
                <p>
                    Effective July 15, 2012, purchase of TFC Now subscription shall no longer be allowed.
                    Effective July 23, 2012, new content shall no longer be uploaded on TFC Now. TFC
                    Now Users and subscribers may still watch content available to them on TFC Now until
                    TFC Now is closed. A separate notice shall be provided to advise TFC Now Users and
                    subscribers of the date of closure of TFC Now. Upon closure of TFC Now, TFC Now
                    Users and subscribers who will try to access TFC Now shall be directed to TFC.tv.</p>
                <h3>
                    Section 2. Migration of TFC Now Subscribers to TFC.tv</h3>
                <p>
                    The term migration as used in the Terms shall refer to the act of transferring TFC
                    Now subscriber’s account from TFC Now to TFC.tv. To enable ABS-CBN to migrate TFC
                    Now subscribers to TFC.tv, TFC Now subscribers should do the following:
                    <ul style="line-height: 25px;">
                        <li>a.) Visit TFC.tv website by clicking on the invitation on TFC Now or by visiting
                            TFC.tv at http://tfc.tv</li>
                        <li>b.) The TFC Now subscriber will be directed to a TFC.tv page. If the TFC Now subscriber
                            is not yet registered with TFC.tv, the TFC Now subscriber should log on to TFC.tv
                            using his/her email address and TFC Now password.
                            <p>
                                If the TFC Now subscriber has participated in the free trial period of TFC.tv Beta,
                                the TFC Now subscriber should click on the Sign In link in the phrase “Already registered
                                with TFC.tv? Sign In here to migrate your TFC Now account.” The TFC Now subscriber
                                should thereafter log on using his/her TFC.tv registered email address and password.</p>
                        </li>
                        <li>c.) The TFC Now subscriber will be requested to confirm his personal information
                            and to signify his/her acceptance of the Terms on Modification of TFC Now and Transition
                            to TFC.tv and to the Terms and Conditions of the Subscription and/or Use of TFC.tv.</li>
                        <li>d.) Upon clicking the Register button, the TFC Now subscriber will be provided a
                            seven (7) day free trial of TFC.tv. The 7 day free trial will start from the date
                            the TFC Now subscriber registered with TFC.tv.</li>
                        <li>e.) A notice will confirm to the TFC Now subscriber that his TFC Now account was
                            successfully migrated to TFC.tv. If the TFC Now subscriber has an existing TFC Now
                            subscription, the notice will also provide the TFC.tv subscription that the TFC
                            Now subscriber is entitled to in accordance with Section 3 of these Terms.</li>
                    </ul>
                </p>
                <h3>
                    Section 3. TFC Now Subscription and Credits
                </h3>
                <p>
                    If at the time of successful migration the subscriber has existing TFC Now subscription,
                    ABS-CBN will provide the TFC now subscriber the same number of days of TFC.tv subscription
                    opposite the TFC Now subscription provided in the table below. The term same number
                    of days shall refer to the TFC Now subscriber’s remaining days of TFC Now subscription
                    at the time of successful migration.
                </p>
                <p>
                    <center>
                        <table class="migration-terms">
                            <tr>
                                <td class="rg">
                                    <span class="boldText">TFC Now Subscription At The Time Of Migration</span>
                                </td>
                                <td>
                                    <span class="boldText">TFC.tv Subscription To Be Provided To Subscriber Upon Successful
                                        Migration</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="rg">
                                    Premium Package
                                </td>
                                <td>
                                    Premium Package
                                </td>
                            </tr>
                            <tr>
                                <td class="rg">
                                    Plus Package
                                </td>
                                <td>
                                    Lite Package*
                                </td>
                            </tr>
                            <tr>
                                <td class="rg">
                                    Basic 1 Package
                                </td>
                                <td>
                                    Lite Package*
                                </td>
                            </tr>
                            <tr>
                                <td class="rg">
                                    Basic 2 Package
                                </td>
                                <td>
                                    Lite Package*
                                </td>
                            </tr>
                            <tr>
                                <td class="rg">
                                    Movie Channel Package
                                </td>
                                <td>
                                    Movie Channel Package
                                </td>
                            </tr>
                            <tr>
                                <td class="rg">
                                    ANC or DZMM Teleradyo live streaming
                                </td>
                                <td>
                                    Premium Package
                                </td>
                            </tr>
                        </table>
                        <span style="font-size: 10px;">* For territories where the Lite package is not available,
                            the TFC Now subscriber will be provided Premium Package.</span>
                    </center>
                </p>
                <p>
                    If at the time of successful migration the subscriber’s existing subscription is
                    a pay per serye, a pay per show, or a pay per movie, ABS-CBN will email the subscriber
                    an e-pin that will provide the subscriber a thirty (30) day Premium Subscription
                    Package. The 30 day Premium Subscription Package shall begin from the date the subscriber
                    uploads the e-pin to his TFC.tv account.
                </p>
                <p>
                    A pay per serye refers to a subscription to a particular teleserye and an example
                    of pay per serye is a subscription to Walang Hanggan. A pay per show refers to a
                    subscription to a particular program and an example of a pay per show is a subscription
                    to Kris TV. A pay per movie refers to a subscription to a particular movie and an
                    example of pay per movie is a subscription to My Amnesia Girl.</p>
                <p>
                    If at the time of successful migration, the subscriber has existing TFC Now E-pin
                    credits, ABS-CBN will provide the TFC Now subscriber the same amount of E-pin credit
                    into his TFC.tv E-wallet.</p>
                <p>
                    If you have any questions on the foregoing Terms or about the migration of your
                    TFC Now account to TFC.tv, please visit the @Html.ActionLink("Help Center", "Index", "Help")
                    page or to the @Html.ActionLink("Contact Us", "ContactUs", "Home") page.
                </p>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>