<div id="myFriendsContainer">
    <div class="titleContainer">
        <div id="myFriendsTitle" class="left">
            MY <span style="color: #185695; font-weight: bold;">FRIENDS</span>
        </div>
    </div>
    <div id="myFriendsContent" class="featuredItems">
        <div class="itemListBody">
            <div class="wrapper">
                <div class="loader-left-profile">
                    @Html.ImageBuilder(Url, "ajax-loader.gif", new { alt = "", width = 50, height = 50 })</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var features = [{ url: "/SocialEngagement/GetFriendsInfo/" + '@ViewBag.viewedUserUserId', type: "profile", itemperslide: 12, container: "myFriendsContent"}];
        $.each(features, function (x, item) {
            jQuery.get(item.url, function (data) {
                if (data.errorCode == 0) {
                    var list = new featureItem({
                        json_str: data, type: item.type, itemperslide: item.itemperslide, container: item.container
                    }).listing();
                }
                else {
                    $("#myFriendsContent").html("Friends not found!");
                }
            });
        });
    });
</script>
