<div id="WelcomeFeed">
    <div id="loader-UserActivityFeeds">
        @Html.ImageBuilder(Url, "ajax-loader.gif", new { alt = "", width = 50, height = 50 })</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#welcomeTab").click(function () {
            var html = "";

            html += '<div class="welcomeContent">';
            html += '<div class="contentSep">';
            html += '<div id="number" class="left">1</div>';
            html += '<div class="welcomeContentContainer">';
            html += 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. MorbLorem ipsum dolor';
            html += 'sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida,';
            html += 'orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit Lorem ipsum';
            html += 'dolor sit amet, consectetuer adipiscing elit. MorbLorem ipsum dolor sit amet, consectetuer';
            html += 'adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque,';
            html += 'id pulvinar odio lorem non turpis. Nullam sit';
            html += '</div>';
            html += '</div>';
            html += '</div>';

            $("#WelcomeFeed").html(html);
        });
    });
</script>
<!-- <div class="welcomeContent">
    <div class="contentSep">
        <div id="number" class="left">
            1</div>
        <div class="welcomeContentContainer">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. MorbLorem ipsum dolor
            sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida,
            orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit Lorem ipsum
            dolor sit amet, consectetuer adipiscing elit. MorbLorem ipsum dolor sit amet, consectetuer
            adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque,
            id pulvinar odio lorem non turpis. Nullam sit
        </div>
    </div>
</div>
<div class="welcomeContent">
    <div class="contentSep">
        <div id="number" class="left">
            2</div>
        <div class="welcomeContentContainer">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. MorbLorem ipsum dolor
            sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida,
            orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit Lorem ipsum
            dolor sit amet, consectetuer adipiscing elit. MorbLorem ipsum dolor sit amet, consectetuer
            adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque,
            id pulvinar odio lorem non turpis. Nullam sit
        </div>
    </div>
</div>
<div class="welcomeContent">
    <div class="contentSep">
        <div id="number" class="left">
            3</div>
        <div class="welcomeContentContainer">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. MorbLorem ipsum dolor
            sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida,
            orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit Lorem ipsum
            dolor sit amet, consectetuer adipiscing elit. MorbLorem ipsum dolor sit amet, consectetuer
            adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque,
            id pulvinar odio lorem non turpis. Nullam sit
        </div>
    </div>
</div>
<div class="welcomeContent">
    <div class="contentSep">
        <div id="number" class="left">
            4</div>
        <div class="welcomeContentContainer">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. MorbLorem ipsum dolor
            sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida,
            orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit Lorem ipsum
            dolor sit amet, consectetuer adipiscing elit. MorbLorem ipsum dolor sit amet, consectetuer
            adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque,
            id pulvinar odio lorem non turpis. Nullam sit
        </div>
    </div>
</div>
<div class="welcomeContent">
    <div class="contentSep">
        <div id="number" class="left">
            5</div>
        <div class="welcomeContentContainer">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. MorbLorem ipsum dolor
            sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida,
            orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit Lorem ipsum
            dolor sit amet, consectetuer adipiscing elit. MorbLorem ipsum dolor sit amet, consectetuer
            adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque,
            id pulvinar odio lorem non turpis. Nullam sit
        </div>
    </div>
</div> -->
