<div class="widget">
    <!-- about widget -->
    <h3>
        About Me</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetu er adipiscing elit, sed diam nonummy nibh
        euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi eni m ad
        minim veniam, quis nostrud.</p>
</div>
