@{if (GlobalConfig.UseJWPlayer)
{
    <div class="clearfix h_player h_player_no_pad">
        Switch to Jwplayer7 <a href="#" class="hplayer_swap" data-value="7">here</a>.
    </div>
    <div class="clearfix h_player h_player_no_pad">
        Switch to Jwplayer6 <a href="#" class="hplayer_swap">here</a>.
    </div>
    <div class="clearfix h_player h_player_no_pad">
        Revert to flowplayer <a href="#" class="hplayer_swap" data-value="1">
            here
        </a>.
    </div>
    <div class="clearfix">
    </div>
}
}
