@model IPTV2_Model.User
@{
    ViewBag.Title = "Change Password - TFC.tv";
    Layout = "~/Views/Shared/_UXUpdate.cshtml";
    ViewBag.DaxName = "tfc-tv:user:change-password";

    TransactionReturnType ErrorMessage = null;
    try
    {
        if (TempData["ErrorMessage"] != null)
        {
            ErrorMessage = (TransactionReturnType)TempData["ErrorMessage"];
        }
    }
    catch (Exception) { }
}
<!--  CHANGE PASSWORD page body -->
<section class="page_pagebody changepass_pagebody">
    <div class="container">
        <h1 class="page_title">
            CHANGE YOUR PASSWORD</h1>
        <!-- form  -->
        <form method="post" role="form" action="@Url.Action("_UpdatePassword", "User", null, "http")">
        @Html.AntiForgeryToken()
        @{if (ErrorMessage != null)
          {                     
            <div class="row">
                <!-- Error msg / row -->
                <div class="col-md-7 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                    <div class="alert alert-danger">
                        <a class="close" data-dismiss="alert">x</a> @ErrorMessage.StatusMessage
                    </div>
                </div>
            </div>  <!-- END  Error msg / row -->                     
          }                  
        }
        <div class="row form-group">
            <!-- 1st line / row -->
            <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-1 col-xs-12">
                <label for="email">
                    Email Address</label></div>
            <div class="col-md-5 col-sm-7 col-xs-12">
                <input class="form-control" type="email" name="email" value="@Model.EMail"
                    disabled>
            </div>
        </div>
        <!-- END line / row -->
        <div class="row form-group">
            <!-- 2nd line / row -->
            <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-1 col-xs-12">
                <label for="currentPass">
                    Current Password</label></div>
            <div class="col-md-5 col-sm-7 col-xs-12">
                <input class="form-control" type="password" name="currentPass" required>
            </div>
        </div>
        <!-- END 2nd line / row -->
        <div class="row form-group">
            <!-- 3rd line / row -->
            <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-1 col-xs-12">
                <label for="newPass">
                    New Password</label></div>
            <div class="col-md-5 col-sm-7 col-xs-12">
                <input class="form-control" type="password" name="newPass" required>
            </div>
        </div>
        <!-- END 3rd line / row -->
        <div class="row form-group">
            <!-- 4th line / row -->
            <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-1 col-xs-12">
                <label for="cnewPass">
                    Confirm New Password</label></div>
            <div class="col-md-5 col-sm-7 col-xs-12">
                <input class="form-control" type="password" name="cnewPass" required>
            </div>
        </div>
        <!-- END 4th line / row -->
        <div class="row form-group">
            <!-- 5th line / row -->
            <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-1 col-xs-12">
            </div>
            <div class="col-md-5 col-sm-7 col-xs-12">
                <input class="red_button" type="submit" value="SUBMIT">
            </div>
        </div>
        <!-- END 5th line / row -->
        </form>
        <!-- END form -->
    </div>
    <!-- END container -->
</section>
<!-- END CHANGE PASSWORD page body -->
