@model IEnumerable<IPTV2_Model.Transaction>
@{
    ViewBag.Title = "My Transactions - TFC.tv";
    Layout = "~/Views/Shared/_TFCTVBlue.cshtml";
}
<div id="mainBody">
    <br />
    <br />
    <div class="transparentBg floatLeft">
        <div class="genericHeader">
            <div id="genericHeader_header">
                <div id="headerTitle" class="sectionHeaderTitle">
                    My Transactions</div>
                <div id="headerCategoryName" class="sectionHeader">
                </div>
            </div>
        </div>
        <!-- start of list -->
        <div id="latestShows_bodyContainer">
            @(Html.Telerik().Grid<TransactionDisplay>()
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(t => t.TransactionId).Width(60).Title("TID");
            columns.Bound(t => t.ProductName)
                .Width(140).Title("Product");
            //columns.Bound(t => t.TransactionDate).Format("{0:MMM. dd, yyyy hh:mm:ss tt}")
            columns.Bound(t => t.TransactionDateStr)
                .Width(150).Title("Date");
            columns.Bound(t => t.Amount).Width(60).HtmlAttributes(new { style = "color:#49a4ff;" }).Format("{0:0.00}");
            columns.Bound(t => t.Currency).Width(45);
            //columns.Bound(t => t.PaymentType).Format("{0:MM/dd/yyyy hh:mm:ss tt}").Width(120);
            columns.Bound(t => t.TransactionType).Width(100).Title("Type");
            columns.Bound(t => t.Method).Width(90).Title("Mode");
            columns.Bound(t => t.Reference);
        })
        .DataBinding(dataBinding => dataBinding.Ajax().Select("_Transactions", "User"))
                .Pageable(paging =>
                    paging.PageSize(20))
        .Sortable()
        .Scrollable(c => c.Height("400px"))
        .HtmlAttributes(new { style = "font-size:11px;" })
)
            <div class="clear">
            </div>
        </div>
        <!-- end of list -->
    </div>
</div>
@section Stylesheet {
    @Html.CssBuilder(Url, "category.css")
    <meta name="robots" content="nofollow" />
}
@section JScript {
    @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.black.css").Combined(true).Compress(true)))
}
@section JScriptBottom{
    <script type="text/javascript" src="http://aspnet-scripts.telerikstatic.com/mvcz/2011.3.1115/telerik.common.min.js"></script>    
    <script type="text/javascript" src="http://aspnet-scripts.telerikstatic.com/mvcz/2011.3.1115/telerik.grid.min.js"></script>
    @(Html.Telerik().ScriptRegistrar()
                     .DefaultGroup(group => group
                         .Compress(true))
                         .jQuery(false)
                         .OutputScriptFiles(false)
    )
}
