/* File Created: May 31, 2012 */

#contactUsBody
{
    color: #fff;
}

.bheader
{
    font-size: 20px;
    color: #49A4FF;
    font-weight: bold;
    padding-bottom: 5px;
}

.pad-bottom
{
    padding-bottom: 7px;
}
.pad-right
{
    padding-right: 10px;
}