body
{color:#fff;
min-width:1000px;
padding:0;
margin:0;}

#bodycontainer
{width:974px;
height:934px;
background-color:#011730;
margin:0 auto;
}

.bcpadding
{padding:15px 13px 21px 13px;
}

#compare
{height:201px;
padding-bottom:10px;
}

#comparebar
{background-image:url(images/package/gocompare/comparebar.png);
background-repeat:no-repeat;
width:950px;
height:51px;
z-index:0;

}

#gobackbutton
{
float:right;
width:129px;
height:28px;
padding:10.5PX 15px;
position:relative;
z-index:2 ;
}

#comparebody
{
width:950px;
height:202px;
position:absolute;
}

.defaultview
{display:inline-block;
float:right;
margin-left:12.5px;
width:224px;
height:66px;
}

.table
{width:950px;
height:685px;
}

#maintable
{
padding-top:95px;
position:relative;
z-index:4 ;
}


