#columnLeft
{
    height: auto;
    width: 700px;
    margin-right: 10px;
    float: left;
}

#columnRight
{
    float: right;
    width: 230px;
}

.seeAll_container
{
    padding-top: 3px;
}

#usefulLinks a
{
    color: #fff;
    text-decoration: none;
}

.seeAll_container .t-input
{
    margin-top: -6px;
}

.t-selector
{
    width: 120px;
}