<?xml version="1.0"?>
<connectionStrings>
    <!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />-->
    <add name="ApplicationServices" connectionString="Password=;Persist Security Info=True;User ID=;Initial Catalog=TFCtvCPanel;Data Source=pxz3fypo7u.database.windows.net" providerName="System.Data.SqlClient" />
    <!--<add name="IPTV2Entities" connectionString="metadata=res://*/IPTV2Model.csdl|res://*/IPTV2Model.ssdl|res://*/IPTV2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JULIUSUL\MSSQL2008R2;initial catalog=IPTV2Dev2;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="IPTV2Entities" connectionString="metadata=res://*/IPTV2Model.csdl|res://*/IPTV2Model.ssdl|res://*/IPTV2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=204.93.135.195;initial catalog=xcms2dev;Persist Security Info=True;User=;Password=;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="IPTV2Entities" connectionString="metadata=res://*/IPTV2Model.csdl|res://*/IPTV2Model.ssdl|res://*/IPTV2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=;initial catalog=TFCtv;Persist Security Info=True;User=;Password=;multipleactiveresultsets=True;Encrypt=True;Trusted_Connection=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  />
    <add name="EngagementsEntities" connectionString="metadata=res://*/Engagements.csdl|res://*/Engagements.ssdl|res://*/Engagements.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JULIUSUL\MSSQL2008R2;initial catalog=EngagementsDev;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="EngagementsEntities" connectionString="metadata=res://*/Engagements.csdl|res://*/Engagements.ssdl|res://*/Engagements.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=204.93.135.195;initial catalog=Engagements;Persist Security Info=True;User=;Password=;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="HelpCenterContainer" connectionString="metadata=res://*/HelpCenter.csdl|res://*/HelpCenter.ssdl|res://*/HelpCenter.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JULIUSUL\MSSQL2008R2;initial catalog=HelpCenter;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ABSNowEntities" connectionString="metadata=res://*/TFCNow.csdl|res://*/TFCNow.ssdl|res://*/TFCNow.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=216.128.8.77;initial catalog=ABSNow;persist security info=True;user id=;password;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>