<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServicePhoenixSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- Production  -->
      <!--<endpoint address="https://secured.netsuite2.abs-cbni.com/interfacephoenix/servicephoenix.asmx" binding="basicHttpBinding" bindingConfiguration="ServicePhoenixSoap" contract="GomsTfcTvService.ServicePhoenixSoap" name="ServicePhoenixSoap" />-->
      <endpoint address="https://secured.netsuite.abs-cbni.com/interfacephoenixps/servicephoenix.asmx" binding="basicHttpBinding" bindingConfiguration="ServicePhoenixSoap" contract="GomsTfcTvService.ServicePhoenixSoap" name="ServicePhoenixSoap" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="IPTV2Entities" connectionString="metadata=res://*/IPTV2Model.csdl|res://*/IPTV2Model.ssdl|res://*/IPTV2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JULIUSUL\MSSQL2008R2;initial catalog=IPTV2Dev2;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!-- GOMS Production-->
    <!--
        -->
    <!--HTTP Access Credentials-->
    <!--
        <add key="GomsTfcTvUserId" value="gomstfctv" />
        <add key="GomsTfcTvPassword" value="" />
        -->
    <!--WebService Credentials-->
    <!--
        <add key="GomsTfcTvServiceUserId" value="" />
        <add key="GomsTfcTvServicePassword" value="" />
        <add key="GomsTfcTvServiceUrl" value="https://secured.netsuite2.abs-cbni.com/interfacephoenix/servicephoenix.asmx" />-->
    <!-- GOMS Production Sandbox -->
    <!--HTTP Access Credentials-->
    <add key="GomsTfcTvUserId" value="gomsphoenix" />
    <add key="GomsTfcTvPassword" value="" />
    <!--WebService Credentials-->
    <add key="GomsTfcTvServiceUserId" value="gomstfctv" />
    <add key="GomsTfcTvServicePassword" value="" />
    <add key="GomsTfcTvServiceUrl" value="https://secured.netsuite.abs-cbni.com/interfacephoenixps/servicephoenix.asmx" />
    <add key="GomsTfcTvServiceId" value="110" />
    <add key="cronExpressionRecurring" value="0 0/10 * 1/1 * ? *" />
    <add key="processRecurring" value="true" />
    <add key="offeringId" value="2" />
    <add key="DefaultCurrencyCode" value="USD" />
    <add key="numOfDaysRecurringProcess" value="1" />
    <add key="numberOfAttempts" value="3" />
    <add key="isProduction" value="false" />
    <add key="NoReplyEmail" value="noreply@tfc.tv" />
    <!--SendGrid credentials-->
    <add key="SendGridUsername" value="" />
    <add key="SendGridPassword" value="" />
    <add key="SendGridSmtpHost" value="smtp.sendgrid.net" />
    <add key="SendGridSmtpPort" value="" />
    <add key="isSendEmailEnabled" value="true" />
    <add key="ExtendSubscriptionBodyWithAutoRenewTextOnly" value="{0},\r\n\r\n\r\nMAGANDANG BALITA!\r\n\r\n\r\nNa-extend na ang iyong {1} hangang {2}.\r\n\r\n\r\nBelow is your full transaction details:\r\n\r\n--------------------------------------------------------------------------------------------------------------------------------------------\r\n\r\nTransaction ID: {3}\r\n\r\nProduct: {4}\r\n\r\nDate: {5}\r\n\r\nAmount: {6}\r\n\r\nCurrency: {7}\r\n\r\nType: Subscription Extension\r\n\r\nMode: {8}\r\n\r\nReference: {9}\r\n\r\n\r\n\r\nOn Automatic Renewal* \r\n\r\n--------------------------------------------------------------------------------------------------------------------------------------------\r\n\r\n\r\n*Meron kang hanggang {10} para tanggalin ang automatic renewal sa susunod mong subscription.\r\n\r\n\r\nKung meron kayong karagdagang tanong, bumisita sa TFC.tv Help Center: http://tfc.tv/Help\r\n\r\n\r\nSalamat Kapamilya,\r\n\r\nTFC.tv" />
    <add key="AutoRenewFailureBodyTextOnly" value="{0},\r\n\r\n\r\nAfter multiple attempts, we are unable to complete the automatic renewal of your {1} subscription.\r\n\r\n\r\nThe following error has occurred: {2}\r\n\r\n\r\nPlease contact our customer service for assistance.\r\n\r\nHELP CENTER: http://tfc.tv/Help\r\n\r\nCONTACT US: http://tfc.tv/Home/ContactUs\r\n\r\n\r\nYours Truly,\r\n\r\nTFC.tv" />
    <add key="IsSendConsolidatedReportsEnabled" value="true" />
    <add key="consolidatedReportReceivers" value="Albin_Lim@abs-cbn.com,John_Tan@abs-cbn.com,James_Alcantara@abs-cbn.com" />
    <add key="toRecipient" value="rbReport@tfc.tv" />
    <add key="listOfRecurringBillingIds" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <!-- Method#1: Configure smtp server credentials -->
      <!--<smtp from="some-email@gmail.com">
                <network enableSsl="true" host="smtp.gmail.com" port="587" userName="some-email@gmail.com" password="valid-password" />
            </smtp>-->
      <!-- Method#2: Dump emails to a local directory -->
      <smtp from="customersupport@tfc.tv" deliveryMethod="Network">
        <network host="localhost" port="25" />
        <!--<specifiedPickupDirectory pickupDirectoryLocation="c:\bin\temp\"/>-->
      </smtp>
    </mailSettings>
  </system.net>
</configuration>