<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client xdt:Transform="Replace">
      <endpoint address="https://secured.netsuite.abs-cbni.com/interfacephoenixps/servicephoenix.asmx" binding="basicHttpBinding" bindingConfiguration="ServicePhoenixSoap" contract="GomsTfcTvService.ServicePhoenixSoap" name="ServicePhoenixSoap" />
    </client>
  </system.serviceModel>
  <connectionStrings xdt:Transform="Replace">
    <add name="IPTV2Entities" connectionString="metadata=res://*/IPTV2Model.csdl|res://*/IPTV2Model.ssdl|res://*/IPTV2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pxz3fypo7u.database.windows.net;initial catalog=TFCtvUAT;Persist Security Info=True;User=;Password=;multipleactiveresultsets=True;Encrypt=True;Trusted_Connection=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <!--HTTP Access Credentials-->
    <add key="GomsTfcTvUserId" value="gomsphoenix" />
    <add key="GomsTfcTvPassword" value="" />
    <!--WebService Credentials-->
    <add key="GomsTfcTvServiceUserId" value="gomstfctv" />
    <add key="GomsTfcTvServicePassword" value="" />
    <add key="GomsTfcTvServiceUrl" value="https://secured.netsuite.abs-cbni.com/interfacephoenixps/servicephoenix.asmx" />

    <add key="GomsTfcTvServiceId" value="110"/>

    <add key="cronExpressionRecurring" value="0 0/5 * 1/1 * ? *"/>
    <add key="processRecurring" value="true"/>
    <add key="offeringId" value="2"/>
    <add key="DefaultCurrencyCode" value="USD"/>
    <add key="numOfDaysRecurringProcess" value="23"/>
    <add key="numberOfAttempts" value="3"/>
    <add key="isProduction" value="false"/>

    <add key="NoReplyEmail" value="noreply@tfc.tv"/>
    <!--SendGrid credentials-->
    <add key="SendGridUsername" value=""/>
    <add key="SendGridPassword" value=""/>
    <add key="SendGridSmtpHost" value="smtp.sendgrid.net"/>
    <add key="SendGridSmtpPort" value=""/>
    <add key="isSendEmailEnabled" value="true"/>

    <add key="ExtendSubscriptionBodyWithAutoRenewTextOnly" value="{0},\r\n\r\n\r\nMAGANDANG BALITA!\r\n\r\n\r\nNa-extend na ang iyong {1} hangang {2}.\r\n\r\n\r\nBelow is your full transaction details:\r\n\r\n--------------------------------------------------------------------------------------------------------------------------------------------\r\n\r\nTransaction ID: {3}\r\n\r\nProduct: {4}\r\n\r\nDate: {5}\r\n\r\nAmount: {6}\r\n\r\nCurrency: {7}\r\n\r\nType: Subscription Extension\r\n\r\nMode: {8}\r\n\r\nReference: {9}\r\n\r\n\r\n\r\nOn Automatic Renewal* \r\n\r\n--------------------------------------------------------------------------------------------------------------------------------------------\r\n\r\n\r\n*Meron kang hanggang {10} para tanggalin ang automatic renewal sa susunod mong subscription.\r\n\r\n\r\nKung meron kayong karagdagang tanong, bumisita sa TFC.tv Help Center: http://tfc.tv/Help\r\n\r\n\r\nSalamat Kapamilya,\r\n\r\nTFC.tv"/>
    <add key="AutoRenewFailureBodyTextOnly" value="{0},\r\n\r\n\r\nAfter multiple attempts, we are unable to complete the automatic renewal of your {1} subscription.\r\n\r\n\r\nThe following error has occurred: {2}\r\n\r\n\r\nPlease contact our customer service for assistance.\r\n\r\nHELP CENTER: http://tfc.tv/Help\r\n\r\nCONTACT US: http://tfc.tv/Home/ContactUs\r\n\r\n\r\nYours Truly,\r\n\r\nTFC.tv"/>
    <add key="IsSendConsolidatedReportsEnabled" value="true"/>
    <add key="consolidatedReportReceivers" value="Albin_Lim@abs-cbn.com,John_Tan@abs-cbn.com,James_Alcantara@abs-cbn.com"/>
    <add key="toRecipient" value="rbReport@tfc.tv"/>
    <add key="listOfRecurringBillingIds" value=""/>
  </appSettings>
</configuration>