@{
    ViewBag.Title = "Cookie Policy - TFC.tv";
    Layout = "~/Views/Shared/_UXUpdate.cshtml";
    ViewBag.DaxName = "tfc-tv:cookie-policy";
}
<!--  Cookie policy page body -->
<section class="page_pagebody termsCond_pagebody">
    <div class="container">
        <h1 class="page_title clearfix">
            Cookie Policy</h1>
        <p>
            This Cookie Policy ("Policy") applies to any websites, pages or third party platforms
            and applications that you as subscriber and/or user may access or use through TFC.tv.
            Any reference to "you" or "subscriber" or "user" refer to the person subscribing
            to or/and using TFC.tv. Any reference to "we," "us," or "our" refer to ABS-CBN International.
            By using TFC.tv, you are consenting to the use of the cookies in accordance with
            this Cookie Policy.</p>
        <p>
            We may update the Policy from time to time without prior notice and your continued
            subscription and use of TFC.tv constitute your acceptance of the Policy, and any
            amendment or updates thereto. Unless otherwise specified, any new feature/s of TFC.tv
            shall be subject to the current Policy. Current versions, including recent updates,
            will be available for review on the TFC.tv website. You can disable any cookies
            already stored on your computer, but these may stop our website from functioning
            properly.</p>
        <h2>
            WHAT ARE COOKIES?</h2>
        <p>
            A cookie is a very small text file that is stored on your computer when you visit
            some websites.</p>
        <p>
            A cookie may be downloaded on to a device when the user accesses certain websites.
            Cookies allow a website to recognize a user's device.</p>
        <h2>
            WHAT DO WE USE COOKIES FOR?</h2>
        <p>
            TFC.tv uses cookies to serve you with the best online experience possible. Cookies
            assist us in building a fluid experience by taking note of your visits and preferences
            on the site. We also utilize the cookies of our third party service providers, so
            that you may fully enjoy the advantages of video viewing, social networking and
            other features on the site. We may also use cookies to offer you with product and
            services specifically relevant to your needs. Through cookie technology, we hope
            to continually advance our services on TFC.tv for you and the rest of our online
            users worldwide.</p>
        <h2>
            WHAT ARE THE TYPES OF COOKIES USED ON TFC.tv?</h2>
        <p>
            The following are not Strictly Necessary, but are required to provide you with the
            best user experience and also to tell us which pages you find most interesting (anonymously).
            The following are the types of cookies based on the period that the cookies are
            stored in your device.</p>
        <p>
            <b>Session cookies</b> are cookies that allow websites to link the actions of a
            user during a browser session. They may be used for a variety of purposes such as
            remembering what a user has put in their shopping basket as they browse around a
            site. They could also be used for security when a user is accessing internet banking
            or to facilitate use of a webmail. These session cookies expire after a browser
            session.2</p>
        <p>
            <b>Persistent cookies</b> are cookies that are stored on a user's device in between
            browser sessions which allows the preferences or actions of the user across a site
            (or in some cases across different websites) to be remembered. Persistent cookies
            may be used for a variety of purposes including remembering user's preferences and
            choices when using a site or to target advertising. 3</p>
        <p>
            Cookies may also be classified based on their function. Some cookies are strictly
            necessary for TFC.tv to perform the services provided by TFC.tv. For example, these
            cookies help us authenticate your account on TFC.tv, specifically providing you
            with access to video content included in your paid subscription. Some cookies help
            us to enhance your online experience by storing the user's preferences. For example,
            functional cookies will store your email address so that you do not need to re-type
            your email address when signing in to your TFC.tv account. Some cookies help us
            to understand how you interact with TFC.tv by providing information about your visit
            on TFC.tv. The information gathered through these cookies help us to improve TFC.tv.</p>
        <p>
            There are also <b>third party cookies</b> that are set by a domain other than the
            one being visited by the user. If a user visits a website and a separate company
            sets a cookie through that website this would be a third party cookie.4 TFC.tv uses
            content and materials from other websites and these content or materials may present
            third party cookies from other websites. For more information about these third
            party cookies, please visit the third party's website.</p>
        <p>
            This website will not share any personal information with third parties.</p>
        <h2>
            HOW CAN I CONTROL OR DELETE COOKIES?</h2>
        <p>
            If you wish to delete, block or control the cookies present in our site, you can
            modify your browser settings. For more information on how to modify your browser
            to control or delete cookies, you may visit <a href="http://www.aboutcookies.org"
                target="_blank">http://www.aboutcookies.org</a>. Please note that blocking or
            deleting the cookies will affect the function of TFC.tv and it is possible that
            by deleting certain cookies, we will not be able to provide some services to you.</p>
        <p>
            If you have any question about this Policy or about cookies we use on TFC.tv, please
            email <a href="mailto:feedback@tfc.tv">feedback@tfc.tv</a>.</p>
        <p>
            1 ICO Guidance On The Rules On The Use Of Cookies And Similar Technologies (May
            2012), page 2.<br>
            2 ICO Guidance, pages 4-5.<br>
            3 ICO Guidance, pages 4-5.<br>
            4 ICO Guidance, page 5.</p>
    </div>
    <!-- END container -->
</section>
<!-- END Cookie policy body -->
