@{
    ViewBag.Title = "Special E-Commerce Law Compliance Page - TFC.tv";
    Layout = "~/Views/Shared/_TFCTVBlue.cshtml";
}
<div id="mainBody">
    <br />
    <br />
    <div class="transparentBg floatLeft">
        <div class="genericHeader">
            <div id="genericHeader_header">
                <div id="headerTitle" class="sectionHeaderTitle">
                    定商取引に関する法律に基づく表示</div>
                <div id="headerCategoryName" class="sectionHeader">
                </div>
            </div>
        </div>
        <div id="bodyContainer" style="margin-left: 20px; color: #fff;">
            <div class="whitetext">
                <h3>
                    販売業者名</h3>
                <p style="margin-left: 20px;">
                    ABS-CBN Japan Inc.
                </p>
                <h3>
                    日本支店代表者</h3>
                <p style="margin-left: 20px;">
                    Enrique Olives (Managing Director)</p>
                <h3>
                    日本支店住所</h3>
                <p style="margin-left: 20px;">
                    東京都港区芝４丁目５番１１号芝プラザビル３Ｆ
                </p>
                <h3>
                    連絡先</h3>
                <p style="margin-left: 20px;">
                    カスタマーサポートメールアドレス： <a href="mailto:support@tfc.tv" class="orange">support@tfc.tv</a>
                    <br />
                    カスタマーサポート電話番号：
                    <div style="margin-left: 40px;">
                        <ul>
                            <li>０１２０－８３２－８６３ (フリーダイヤル、固定電話から)</li><li>０３－６８６８－２０２４ (携帯電話から)</li></ul>
                    </div>
                </p>
                <h3>
                    初回登録方法</h3>
                <p style="margin-left: 20px;">
                    <a href="/User/Register" class="orange">詳しくはこちら</a>
                </p>
                <h3>
                    注文方法・各商品価格</h3>
                <p style="margin-left: 20px;">
                    <a href="/GoPremium" class="orange">詳しくはこちら</a>
                </p>
                <h3>
                    お支払方法</h3>
                <p style="margin-left: 20px;">
                    各商品をオンラインで購入し、下記のいづれかの方法で購入可能である：<div style="margin-left: 40px;">
                        <ul>
                            <li>PayPal</li>
                            <li>TFC.tv プリペイドカード (<a href="/Find-A-Dealer" class="orange">各種のプリペイドカードは、代理店で購入できる</a>)</li></ul>
                    </div>
                </p>
                <h3>
                    購入した商品の視聴期限</h3>
                <p style="margin-left: 20px;">
                    オンラインで購入した商品は、お支払いが確認された直後に、視聴可能であり、期限日は、各商品の販売のページで掲載される。</p>
                <h3>
                    その他の契約状況</h3>
                <p style="margin-left: 20px;">
                    <a href="/Home/TermsAndConditions" class="orange">詳しくはこちら</a></p>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
