@{
    ViewBag.Title = "Special E-Commerce Law Compliance Page - TFC.tv";
    Layout = "~/Views/Shared/_UXUpdate.cshtml";
}
<!--  Special E-com law page body -->
<section class="page_pagebody termsCond_pagebody">
    <div class="container">
        <h1 class="page_title clearfix">
            Special E-Commerce Law Compliance Page</h1>
        <p>
            Vendor Name</p>
        <h2>
            ABS-CBN Japan Inc.</h2>
        <p>
            Japan Branch Representative:</p>
        <h2>
            Christopher Santos (Country Head)</h2>
        <p>
            Office Address:</p>
        <h2>
            Tokyo, Minato-ku Roppong 5-16-52 Imperial Roppongi Bldg 2 Rm 405 Postal Code : 106-0032
        </h2>
        <div class="border">
        </div>
        <p>
            Contact Information</p>
        <p>
            <b>Customer Service email address:</b></p>
        <p>
            <a href="mailto:support@tfc.tv">support@tfc.tv </a>
        </p>
        <br>
        <p>
            <b>Customer Service Hotline:</b></p>
        <p>
            <b>0120-832-863 (from landline)<br />
                03-6868-2024 (from mobile phones)</b></p>
        <div class="border">
        </div>
        <h3>
            How to Register:</h3>
        <p>
            Refer to this <a href="@Url.Action("Register", "User")">link</a></p>
        <h3>
            Product Pricing and Subscription Method:</h3>
        <p>
            Refer to this <a href="@Url.Action("Details", "Subscribe")">link</a></p>
        <h3>
            Payment Method:</h3>
        <p>
            Online purchases are payable using any of the following methods</p>
        <p>
            <b>PayPal</b></p>
        <p>
            <b>TFC.tv Prepaid Cards/ePINs (prepaid cards/ePINs can be purchased from <a href="@Url.Action("Index", "StoreLocator")">
                authorized dealers</a>)</b></p>
        <h3>
            Product Delivery:</h3>
        <p>
            Products/subscriptions purchased on-line are available for viewing immediately upon
            confirmation of the purchase by the system.</p>
        <h3>
            Other Terms and Conditions</h3>
        <p>
            Refer to this <a href="@Url.Action("TermsAndConditions", "Home")">link</a></p>
    </div>
    <!-- END container -->
</section>
<!--  END Special E-com law page body -->
