@{
    ViewBag.Title = "Oops! You must enable your Javascript first!";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <p>
        In order to experience TFC.tv at its fullest, you need to have JavaScript enabled
        in your browser. To do so, please follow the instructions below:</p>
    <p>
        <strong>Google Chrome (15.0)</strong></p>
    <ol>
        <li>Click the spanner icon on the browser toolbar.</li>
        <li>Select <strong>Options</strong>.</li>
        <li>Click the <strong>Under the Hood</strong> tab.</li>
        <li>Click <strong>Content Settings</strong> in the 'Privacy section.'</li>
        <li>Select <strong>Allow all sites to run JavaScript</strong> in the 'JavaScript' section.</li>
    </ol>
    <p>
        <strong>Mozilla Firefox (8.0)</strong></p>
    <ol>
        <li>Select <strong>Tools</strong> from the top menu.</li>
        <li>Choose <strong>Options</strong>.</li>
        <li>Choose <strong>Content</strong> from the top navigation.</li>
        <li>Select the checkbox next to <strong>Enable JavaScript</strong> and click <strong>
            OK</strong>.</li>
    </ol>
    <p>
        <strong>Internet Explorer (9.0)</strong></p>
    <ol>
        <li>Select <strong>Tools</strong> from the top menu.</li>
        <li>Choose <strong>Internet Options</strong>.</li>
        <li>Click on the <strong>Security</strong> tab.</li>
        <li>Click on <strong>Custom Level</strong>.</li>
        <li>Scroll down until you see the section labeled 'Scripting.'</li>
        <li>Under 'Active Scripting,' select <strong>Enable</strong> and click <strong>OK</strong>.</li>
    </ol>
    <p>
        <strong>Apple Safari (5.0)</strong></p>
    <ol>
        <li>Open the <strong>Safari</strong> menu on your browser's toolbar.</li>
        <li>Choose <strong>Preferences</strong>.</li>
        <li>Choose <strong>Security</strong>.</li>
        <li>Select the checkbox next to <strong>Enable JavaScript</strong>.</li>
    </ol>
</body>
</html>