@{
    ViewBag.Title = "TFC.tv - Survey";
    Layout = "~/Views/Shared/_UXUpdate.cshtml";
}
<section class="slidersec home survey">
    <div class="container">
        <div class="row movie_sec episode_sec">
            <div class="sec_header">
                <!-- head -->
                <h2 class="section_title clearfix">
                   @* Please answer the survey*@
                </h2>
            </div>
            <div class="row">
                <script type="text/javascript" src="https://formscentral.acrobat.com/Clients/Current/FormsCentral/htmlClient/scripts/adobe.form.embed.min.js"></script>
                <script type="text/javascript">                    ; ADOBEFORMS.EmbedForm({ formId: "0b3R4OYKndQAOdMv58czsg" });</script>
            </div>
        </div>
    </div>
</section>
