<html>
<head>
    <title>TFC.tv</title>
</head>
<body>
    <script type="text/javascript">
        window.opener.location.href = "/Load/Confirmation/Callback";
        window.close();
    </script>
</body>
</html>
