<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" /><section name="cacheDiagnostics" type="Microsoft.ApplicationServer.Caching.AzureCommon.DiagnosticsConfigurationSection, Microsoft.ApplicationServer.Caching.AzureCommon" allowLocation="true" allowDefinition="Everywhere" /></configSections>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.4.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <dataCacheClients>
    <!-- Cache Workder Role-->
    <dataCacheClient name="default" isCompressionEnabled="true">
      <autoDiscover isEnabled="true" identifier="TfcTvCacheWorkerRole" />
      <!-- 16Mb -->
      <transportProperties maxBufferSize="33554432" />
    </dataCacheClient>
    <dataCacheClient name="session" isCompressionEnabled="true">
      <autoDiscover isEnabled="true" identifier="TfcTvSessionCacheWorkerRole" />
      <!-- 32Mb -->
      <transportProperties maxBufferSize="33554432" />
    </dataCacheClient>
    <!-- Azure Shared Cache -->
    <!--<dataCacheClient name="default">
            <hosts>
                <host name="tfctvcache.cache.windows.net" cachePort="22233" />
            </hosts>
            <securityProperties mode="Message">
                <messageSecurity
                  authorizationInfo="YWNzOmh0dHBzOi8vdGZjdHZjYWNoZS1jYWNoZS5hY2Nlc3Njb250cm9sLndpbmRvd3MubmV0L1dSQVB2MC45LyZvd25lciZEVkg0WWk4NGE4TmpMSjcxd25tNUVCNmRUOTluMk5PKzhLVjg5MXZsOWNjPSZodHRwOi8vdGZjdHZjYWNoZS5jYWNoZS53aW5kb3dzLm5ldA==">
                </messageSecurity>
            </securityProperties>
        </dataCacheClient>
        <dataCacheClient name="SslEndpoint">
            <hosts>
                <host name="tfctvcache.cache.windows.net" cachePort="22243" />
            </hosts>
            <securityProperties mode="Message" sslEnabled="true">
                <messageSecurity
                  authorizationInfo="YWNzOmh0dHBzOi8vdGZjdHZjYWNoZS1jYWNoZS5hY2Nlc3Njb250cm9sLndpbmRvd3MubmV0L1dSQVB2MC45LyZvd25lciZEVkg0WWk4NGE4TmpMSjcxd25tNUVCNmRUOTluMk5PKzhLVjg5MXZsOWNjPSZodHRwOi8vdGZjdHZjYWNoZS5jYWNoZS53aW5kb3dzLm5ldA==">
                </messageSecurity>
            </securityProperties>
        </dataCacheClient>-->
  <!--<dataCacheClient name="default">
      --><!--To use the in-role flavor of Windows Azure Cache, set identifier to be the cache cluster role name --><!--
      --><!--To use the Windows Azure Cache Service, set identifier to be the endpoint of the cache cluster --><!--
      <autoDiscover isEnabled="true" identifier="[Cache role name or Service Endpoint]" />

	  --><!--<localCache isEnabled="true" sync="TimeoutBased" objectCount="100000" ttlValue="300" />--><!--
	  
	  --><!--Use this section to specify security settings for connecting to your cache. This section is not required if your cache is hosted on a role that is a part of your cloud service. --><!--
      --><!--<securityProperties mode="Message" sslEnabled="true">
        <messageSecurity authorizationInfo="[Authentication Key]" />
      </securityProperties>--><!--
    </dataCacheClient>--></dataCacheClients>
  <connectionStrings>
    <!-- Azure -->
    <add name="IPTV2Entities" connectionString="metadata=res://*/IPTV2Model.csdl|res://*/IPTV2Model.ssdl|res://*/IPTV2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=;initial catalog=TFCtv;Persist Security Info=True;User=;Password=;multipleactiveresultsets=True;Encrypt=True;Trusted_Connection=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EngagementsEntities" connectionString="metadata=res://*/Engagements.csdl|res://*/Engagements.ssdl|res://*/Engagements.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=fr2az40euv.database.windows.net;initial catalog=Engagements;Persist Security Info=True;User=;Password=;multipleactiveresultsets=True;Encrypt=True;Trusted_Connection=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- Local -->
    <!--
    <add name="IPTV2Entities" connectionString="metadata=res://*/IPTV2Model.csdl|res://*/IPTV2Model.ssdl|res://*/IPTV2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=IPTV2;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2.0" newVersion="5.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2.0" newVersion="5.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2.0" newVersion="5.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Diagnostics" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.140" newVersion="3.1.1.140" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
<cacheDiagnostics>
    <crashDump dumpLevel="Off" dumpStorageQuotaInMB="100" />
  </cacheDiagnostics></configuration>