@{}
<html>
<head>
    <title>TFC.tv</title>
    @Html.JsBuilder(Url, "jquery-1.7.1.min.js")
</head>
<body>
    <script type="text/javascript">
        //var p = window.opener.document.getElementById('spanner');
        var subheader = window.opener.$('#PaypalSubHeader');
        var body = window.opener.$('#enterPin');
        $(subheader).html('Thank you for reloading your wallet!');
        var ucredits = window.opener.$('.user-credits');
        $(ucredits).html('@ViewBag.newBalance');
        $(body).html('<div>We have received your payment. Please take note of the details found below.</div><div class="breakStandard"></div><div>@Html.Raw(ViewBag.errorMessage)</div>');
        window.close();

    </script>
</body>
</html>