@{
    Layout = null;
}
<html>
<head>
    <title>TFC.tv</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <style type="text/css">
        body, td, th
        {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
        }
        a:link
        {
            text-decoration: none;
        }
        a:visited
        {
            text-decoration: none;
        }
        a:hover
        {
            text-decoration: none;
        }
        a:active
        {
            text-decoration: none;
        }
        h1
        {
            font-size: 24px;
        }
        h2
        {
            font-size: 11px;
        }
        h3
        {
            font-size: 12px;
        }
        h4
        {
            font-size: 10px;
        }
        h4
        {
            color: #FFF;
        }
        #Table_01 tr td h1
        {
            color: #FFF;
        }
        title
        {
            color: #000;
        }
        #Table_01 tr td #title
        {
            color: #000;
        }
        #Table_01 tr #body2 p
        {
            color: #FFF;
        }
        #Table_01 tr td #body3
        {
            color: #FFF;
        }
        #Table_01 tr td #body4
        {
            color: #FFF;
        }
        h5
        {
            font-size: 18px;
        }
        #Table_01 tr td h5
        {
            color: #FFF;
        }
        #Table_01 tr td h3
        {
            color: #FFF;
        }
        h6
        {
            font-size: 10px;
        }
        #Table_01 tr td #body1 #red
        {
            color: #F00;
        }
        #Table_01 tr td #body1 #red
        {
            color: #F00;
        }
        #Table_01 tr td h3 a #red
        {
            color: #F00;
        }
        #Table_01 tr td h3 a
        {
            color: #F00;
        }
        #Table_01 tr td h4 a u
        {
            color: #F00;
        }
        #Table_01 tr td h4 a
        {
            color: #F00;
        }
    </style>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table width="600" bgcolor="#0B3158" height="680" border="0" align="center" cellpadding="0"
        cellspacing="0" id="Table_01">
        <tr>
            <td width="17" rowspan="7" bgcolor="#0B3158">
                &nbsp;
            </td>
            <td width="131" bgcolor="#0B3158">
                <img src="/Content/newsletters/freetrialext/emailer-5_02.jpg" width="131" height="50">
            </td>
            <td height="20" colspan="12" align="right" valign="top" bgcolor="#0B3158">
            </td>
            <td width="9" rowspan="7" bgcolor="#0B3158">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="6" bgcolor="#FFFFFF">
                <img src="/Content/newsletters/freetrialext/emailer-5_07.jpg" width="336" height="246">
            </td>
            <td colspan="6" align="left" valign="middle" bgcolor="#FFFFFF">
                <h2 id="name2">
                    <strong>@ViewBag.FirstName,
                        <br>
                        Nagustuhan mo ba ang libre mga Kapamilya?</strong></h2>
                <h6 id="body1">
                    Kung isang malakas na &quot;Oo&quot; ang sagot mo, i-activate na ang Free Prepaid
                    PIN mo para tuloy-tuloy na pagsubaybay sa latest Kapamilya shows at tuloy-tuloy
                    ang kwentuhan with fellow TFC users sa nag-iisang TFC.tv!
                    <br>
                    <br>
                    Here's your <span id="red">FREE TRIAL</span> PIN:<br>
                    <span id="red">Serial No: @ViewBag.Serial
                        <br>
                        PIN: @ViewBag.Pin</span><br>
                    <br>
                </h6>
            </td>
            <td width="9" bgcolor="#0B3158">
                <img src="/Content/newsletters/freetrialext/emailer-5_09.jpg" width="9" height="246">
            </td>
        </tr>
        <tr>
            <td height="80" colspan="13" align="center" valign="middle" bgcolor="#0B3158">
                <h5>
                    Check out TFC.tv&rsquo;s top features!</h5>
            </td>
        </tr>
        <tr>
            <td height="111" colspan="2" align="left" valign="top" bgcolor="#0B3158" id="body2">
                <p>
                    <strong>WATCH VIDEOS INSTANTLY
                        <br>
                    </strong>
                </p>
                <p id="body2">
                    Say goodbye to waiting time dahil sa bagong TFC.tv, ang buffering di na problema
                    sa tuloy-tuloy ninyong panonood.*
                </p>
            </td>
            <td width="9" bgcolor="#0B3158">
                &nbsp;
            </td>
            <td height="111" colspan="6" align="left" valign="top" bgcolor="#0B3158">
                <p id="body3">
                    <strong>SOCIALIZE WITH TFC USERS<br>
                    </strong>
                </p>
                <p id="body3">
                    Facebook? Twitter? Makipag-chikahan with Kapamilya fans worldwide dahil konektado
                    ka sa mga popular social platforms.
                </p>
                <p>
                    <br>
                </p>
            </td>
            <td height="111" colspan="3" align="left" valign="top" bgcolor="#0B3158">
                <p id="body4">
                    <strong>GET YOUR OWN PROFILE </strong>
                </p>
                <p id="body4">
                    Live your virtual reality at magpakilala sa mundo as a true Kapamilya with your
                    very own Profile Page on TFC.tv.
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="3" bgcolor="#0B3158">
                <img src="/Content/newsletters/freetrialext/emailer-5_20.jpg" width="192" height="111">
            </td>
            <td colspan="7" bgcolor="#0B3158">
                <img src="/Content/newsletters/freetrialext/emailer-5_21.jpg" width="194" height="111"
                    alt="">
            </td>
            <td colspan="3" bgcolor="#0B3158">
                <img src="/Content/newsletters/freetrialext/emailer-5_22.jpg" width="188" height="111">
            </td>
        </tr>
        <tr>
            <td height="54" colspan="13" align="center" bgcolor="#0B3158">
                <h4>
                    This is a limited beta launch, not all features are available and some may not function
                    as intended.<br>
                    *Video quality and continuous streaming is dependent on a minimum internet connection
                    speed of 512 Kbps.<br>
                    For TFCnow related inquiries, click @Html.ActionLink("shere", "Index", "Help")
                    for additional information.<br>
                </h4>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/Content/newsletters/freetrialext/spacer.gif" width="17" height="1" alt="">
            </td>
            <td>
                <img src="/Content/newsletters/freetrialext/spacer.gif" width="131" height="1" alt="">
            </td>
            <td width="52">
                <img src="/Content/newsletters/freetrialext/spacer.gif" width="52" height="1" alt="">
            </td>
            <td>
                <img src="/Content/newsletters/freetrialext/spacer.gif" width="9" height="1" alt="">
            </td>
            <td width="21">
                <img src="/Content/newsletters/freetrialext/spacer.gif" width="21" height="1" alt="">
            </td>
            <td width="5">
                <img src="/Content/newsletters/freetrialext/spacer.gif" width="5" height="1" alt="">
            </td>
            <td width="136">
                <img src="/Content/newsletters/freetrialext/spacer.gif" width="136" height="1" alt="">
            </td>
            <td width="53">
                <img src="/Content/newsletters/freetrialext/spacer.gif" width="9" height="1" alt="">
            </td>
            <td width="12">
                <img src="/Content/newsletters/freetrialext/spacer.gif" width="12" height="1" alt="">
            </td>
            <td width="1">
                <img src="/Content/newsletters/freetrialext/spacer.gif" width="1" height="1" alt="">
            </td>
            <td width="10">
                <img src="/Content/newsletters/freetrialext/spacer.gif" width="10" height="1" alt="">
            </td>
            <td width="121">
                <img src="/Content/newsletters/freetrialext/spacer.gif" width="101" height="1" alt="">
            </td>
            <td width="78">
                <img src="/Content/newsletters/freetrialext/spacer.gif" width="78" height="1" alt="">
            </td>
            <td>
                <img src="/Content/newsletters/freetrialext/spacer.gif" width="9" height="1" alt="">
            </td>
            <td>
                <img src="/Content/newsletters/freetrialext/spacer.gif" width="9" height="1" alt="">
            </td>
        </tr>
    </table>