<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <add key="sourceServer" value="tcp:"/>
    <add key="sourceDB" value="TFCtv"/>
    <add key="sourceUser" value="amadolb@"/>
    <add key="sourcePass" value=""/>
    <add key="destinationServer" value="tcp:pxz3fypo7u.database.windows.net"/>
    <add key="destinationDB" value="TFCtvBackup"/>
    <add key="destinationUser" value=""/>
    <add key="destinationPass" value=""/>
    <add key="directory" value="D:\dbtransfer\"/>
    <!--test -->
    <add key="sourceServerTest" value="tcp:pxz3fypo7u.database.windows.net"/>
    <add key="sourceDBTest" value="TFCtvBackup"/>
    <add key="sourceUserTest" value=""/>
    <add key="sourcePassTest" value=""/>
    <add key="destinationServerTest" value="AMADOLB\MSSQL2008R2"/>
    <add key="destinationDBTest" value="BackupClone"/>
    <add key="destinationUserTest" value="sa"/>
    <add key="destinationPassTest" value=""/>
    <add key="directoryTest" value="D:\dbtransfer\test\"/>

    <!--Con STRS -->
    <add key="dailyconstring" value="Server=tcp:;Database=TFCtv;User ID=;Password=;Trusted_Connection=False;Encrypt=True;Connection Timeout=600;"/>
    <add key="dailyconstringReportingServer" value="Server=tcp:pxz3fypo7u.database.windows.net;Database=Engagements;User ID=;Password=;Trusted_Connection=False;Encrypt=True;Connection Timeout=600;"/>
    <add key="engageconstring" value="Server=tcp:fr2az40euv.database.windows.net;Database=Engagements;User ID=;Password=;Trusted_Connection=False;Encrypt=True;Connection Timeout=600;"/>
    <add key="videngageconstring" value="Server=tcp:n7bkvv8esi.database.windows.net;Database=VideoEngagements;User ID=;Password=;Trusted_Connection=False;Encrypt=True;Connection Timeout=600;"/>
    
    <!--Queries and Settings-->
    <add key="TargetMonth" value="Jun13"/>
    <add key="PreviousMonth" value="May13"/>
    <add key="MonthEndSubsUpdateQueries" value=""/>
    
    <!--email sending -->
    <add key="emailsTo" value="Amado_Berces@abs-cbn.com,Albin_Lim@abs-cbn.com,Franz_Tupaz@abs-cbn.com,Jihan_Pring@abs-cbn.com,James_Alcantara@abs-cbn.com,John_Tan@abs-cbn.com,Sheila_Gamilla@abs-cbn.com,Angelica_Abano@abs-cbn.com,LeslieAnne_Hernandez@abs-cbn.com,Eugene_Paden@abs-cbn.com,Melissa_Jones@abs-cbn.com,Audie_Avecilla-Riola@abs-cbn.com,Amabel_Acosta@abs-cbn.com,LuisMiguel_Ereneta@abs-cbn.com,Regina_Gatchalian@abs-cbn.com,Rebecca_Ramirez@abs-cbn.com,Dennis_Lim@abs-cbn.com,Marco_Amoranto@abs-cbn.com"/>
    <add key="testemailto" value="amado_berces@abs-cbn.com"/>
    <add key="From" value="noreply@tfc.tv"/>
    <add key="Subject" value="Daily Reports"/>
    <add key="port" value="465"/>
    <add key="host" value="smtp.gmail.com"/>
    <add key="enableSsl" value="true"/>
    <add key="emailcred" value="tfc.tvdailyreporter@gmail.com"/>
    <add key="passcred" value=""/>
    <add key="SendGridUsername" value=""/>
    <add key="SendGridPassword" value=""/>
    <add key="SendGridSmtpHost" value="smtp.sendgrid.net"/>
    <add key="SendGridSmtpPort" value=""/>
    <add key="isSendEmailEnabled" value="true"/>
    <add key="AttachmentPath" value="d:\autodaily\daily.xlsx"/>
    <!--htmlconstruction -->

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
