<div id="ErrorContainer" class="padLeftStandard">
    <div class="breakStandard">
    </div>
    <div>
        <span>You have exceeded the maximum number of transactions (@GlobalConfig.paymentTransactionMaximumThreshold)
            allowed per day. Please try again after 24 hours.</span></div>
    <div class="breakStandard">
    </div>
</div>