<div id="ErrorContainer" class="padLeftStandard">
    <div class="breakStandard">
    </div>
    <div>
        <span>We are processing your recent change in location. Please try again after a few
            minutes.</span></div>
    <div class="breakStandard">
    </div>
</div>