<div id="ErrorContainer" class="padLeftStandard">
    <div class="breakStandard">
    </div>
    <div>
        <span>An error has occurred please contact TFC.tv support.</span></div>
    <div class="breakStandard">
    </div>
</div>