<div id="ErrorContainer" class="padLeftStandard">
    <div class="breakStandard">
    </div>
    <div>
        <p>
            Credit card payment on TFC.tv will be back shortly!</p>
        <p>
            Please bear with us, as we perform system upgrades on TFC.tv. We deeply apologize
            for any inconvenience this may have caused. Rest assured, in a few hours, TFC.tv
            will be back to serve your purchasing needs via credit card.</p>
        <p>
            In the meantime, you may use other available payment methods on TFC.tv or go to
            your nearest <a href="/Find-A-Dealer" class="orange">TFC.tv dealers</a>.</p>
    </div>
    <div class="breakStandard">
    </div>
</div>
