<?xml version='1.0' encoding='utf-8'?>
<appSettings>

    <!-- TFC.tv configurations -->
    <add key="offeringId" value="2" />
    <add key="serviceId" value="46" />

    <add key="entertainmentCategoryId" value="736"/>
    <add key="moviesCategoryId" value="738"/>
    <add key="newsCategoryId" value="737"/>

    <add key="LatestFullEpisodesFeatureId" value="1"/>
    <add key="FreeTVFeatureId" value="23"/>
    <add key="MostViewedFeatureId" value="24"/>
    <add key="LatestShowsFeatureId" value="25"/>
    <add key="FeaturedCelebritiesFeatureId" value="26"/>
	
	<add key="CarouselEntertainmentId" value="4"/>
    <add key="CarouselMovieId" value="6"/>
    <add key="CarouselNewsId" value="5"/>

    <add key="pinEncryption" value="sha1"/>

    <add key="DefaultCurrency" value="USD"/>
	<add key="DefaultCountry" value="US"/>
	<add key="TrialCurrency" value="---"/>

    <add key="BlankGif" value="/Content/images/blank.gif"/>
	
	 <!-- News Featured IDS -->
	  <add key="LatestNewsFullEpisodesFeatureId" value="27"/>
	  <add key="NewsFreeTVFeatureId" value="28"/>
	  <add key="FeaturedCurrentAffairs" value="30"/>
	  <add key="FeaturedJournalistsFeatureId" value="31"/>
	  <add key="FeaturedRegionalNewsFeatureId" value="5"/>
  
	  <!-- Movies -->
	  <add key="LatestMovieFeatureId" value="48"/>   
	  <add key="FeaturedPersonMovieFeatureId" value="14"/>	  
      <add key="StaffPicksFeatureId" value="49" />
      <add key="MostPopularMovieseFeatureId" value="50" />

    <!-- Paypal -->

    <add key="PDTToken" value=""/>
    <add key="PayPalSubmitUrl" value="https://www.paypal.com/cgi-bin/webscr"/>
    <add key="PayPalBusiness"  value="paypal@tfc.tv"/>
    <add key="PayPalReturnUrl" value="http://test2.tfc.tv/Buy/PayPalHandler"/>
	<add key="PayPalReloadReturnUrl" value="http://test2.tfc.tv/Reload/PayPalHandler"/>
    <!-- Gigya API keys -->
    <add key="GSapikey" value="2_se5QRyI-IOHnQ2U4hPWOIDvSJU68fl0n0S-TGWH19ICdZZf-sMLRTH6njnIA_Q3V" />
    <add key="GSsecretkey" value="" />

    <!-- Maxmind -->
	<add key="GeoIpPath" value="/App_Data/GeoIPCity.dat"/>
	
	<!-- Akamai Keys -->
	<add key="AkamaiTokenKey" value="1cb57a04160477a119e57791f27a0706"/>
    <add key="AnonymousDefaultPackageId" value="58"/>
    <add key="LoggedInDefaultPackageId" value="50"/>
	
	<add key="CarouselImgPath" value="http://res2.abs-cbnip.tv/images/carouselslides/"/>
    <add key="ShowImgPath" value="http://res2.abs-cbnip.tv/images/categoryimages/"/>
    <add key="EpisodeImgPath" value="http://res2.abs-cbnip.tv/images/episodeimages/"/>
    <add key="CelebrityImgPath" value="http://res2.abs-cbnip.tv/images/celebrityimages/"/>
	
	<!-- Feature Ids of the Menu, to add more menu just seperate by comma.no spaces.-->
    <add key="EntertainmentMenuIds" value="32,33,36,38,34,35,39"/>
    <!--<add key="EntertainmentMenuIds" value="32,33,36,38,37,34,35,39"/>-->
    <add key="NewsMenuIds" value="40,41"/>
    <add key="MoviesMenuIds" value="43,45,46,44,42,47"/>
	
	<!-- Feature Ids of the dropdown menu on the Latest Episode on the homepage-->
    <add key="LatestEpisodeDropdownListIds" value="1,15,16,17,18,19,20,21,22" />
	
	<add key="FreeTVPlayListId" value="54"/>
    <add key="FreeTVMostViewedId" value="51"/>
    <add key="FreeTVMostSharedId" value="52"/>
    <add key="FreeTVTopLikedId" value="53"/>
    <add key="FreeTVComedyId" value="55"/>
    <add key="FreeTVDramaId" value="56"/>
    <add key="FreeTVSportsId" value="57"/>
	
	<!-- Subscription Packages -->
	<add key="premiumPackageId" value="47"/>
	<add key="litePackageId" value="48"/>
	<add key="moviePackageId" value="49"/>
	
	<!-- Whitelisted IP addresses-->
    <add key="IpWhitelist" value="216.246.37.130;204.93.135.198;204.93.137.59;221.121.190.2;63.68.150.2;66.201.45.162;128.127.25.241;80.227.110.142;134.159.141.2;114.160.214.250;70.25.14.165;222.127.148.174;216.80.22.6;221.121.187.253;63.68.150.2"/>
	
	<!--HTTP Access Credentials-->
    <add key="GomsTfcTvUserId" value="gomsphoenix"/>
    <add key="GomsTfcTvPassword" value="12345678"/>

    <!--WebService Credentials-->
    <add key="GomsTfcTvServiceUserId" value="gomstfctv"/>
    <add key="GomsTfcTvServicePassword" value=""/>
    <add key="GomsTfcTvServiceUrl" value="https://secured.netsuite.abs-cbni.com/interfacephoenixps/servicephoenix.asmx"/>

    <add key="baseUrl" value="http://test2.tfc.tv"/>
	<add key="FAQId" value="943"/>
	<add key="SocialComment" value="1"/>
    <add key="SocialRating" value="2"/>
    <add key="SocialShare" value="3"/>
    <add key="SocialLike" value="11"/>
    <add key="SocialLove" value="12"/>
	
	<add key="maximumDistance" value="10"/>
</appSettings>
