<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="cronExpressionRecurring" value="0 0/3 * 1/1 * ? *" />
    <add key="processRecurring" value="true" />
    <add key="offeringId" value="2" />
    <add key="DefaultCurrencyCode" value="USD" />
    <add key="numOfDaysRecurringProcess" value="1" />
    <add key="numberOfAttempts" value="3" />
    <add key="isProduction" value="false" />
    <add key="NoReplyEmail" value="noreply@tfc.tv" />

    <!--<add key="PremiumPacMayProductId" value="1" />
    <add key="PacMayProductId" value="5"/>
    <add key="KidKulafuCategoryId" value="310"/>
    <add key="PacMayLiveStreamCategoryId" value="3011"/>
    <add key="PacMayVODCategoryId" value="2990"/>-->

    <!-- Production -->
    <add key="PremiumPacMayProductId" value="884" />
    <add key="PacMayProductId" value="883"/>
    <add key="KidKulafuCategoryId" value="3170"/>
    <add key="PacMayLiveStreamCategoryId" value="3177"/>
    <add key="PacMayVODCategoryId" value="3178"/>
    <add key="KidKulafuProductId" value="885" />

  </appSettings>
  <connectionStrings>
    <!--<add name="IPTV2Entities" connectionString="metadata=res://*/IPTV2Model.csdl|res://*/IPTV2Model.ssdl|res://*/IPTV2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JLIM\MSSQL2008R2;initial catalog=IPTV2Dev2;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="IPTV2Entities" connectionString="metadata=res://*/IPTV2Model.csdl|res://*/IPTV2Model.ssdl|res://*/IPTV2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=pxz3fypo7u.database.windows.net;initial catalog=TFCtvUAT;Persist Security Info=True;User=;Password=;multipleactiveresultsets=True;Encrypt=True;Trusted_Connection=False;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>