<div id="CreditCardContainer" class="padLeftStandard transparentBg">
    <div class="breakStandard">
    </div>
    <div>
        <span>Not available as of the moment. Please use other payment methods.</span></div>
    <div class="breakStandard">
    </div>
</div>